@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: var(--lightBrown);
  --foreground: var(--white);
  --darkBrown: #582d0a;
  --hoverBrown: #6d4525;
  --lightBrown: #745337;
  --cream: #ebc996;
  --milk: #fff0da;
  --lightGray: #e7e7e7;
  --white: #fcfcfc;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.arrow {
  border: solid white;
  height: 20px;
  width: 20px;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.debug {
  border: 1px solid red;
}
