@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: black;
  --darkBrown: #582d0a;
  --lightBrown: #745337;
  --cream: #ebc996;
  --milk: #fff0da;
  --lightGray: #e7e7e7;
  --white: #fcfcfc;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
